html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, hr,
header, hgroup, section, article, aside, hgroup, footer, figure, figcaption, nav {
 margin: 0;
 padding: 0;
 font-size: 100%;
}

body {
 line-height: 1.0;
 font-family: Arial, "ヒラギノ角ゴ ProN", "ヒラギノ角ゴ ProN W3", ＭＳ Ｐゴシック, sans-serif;
 -webkit-text-size-adjust: none;
 color:#222222;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
 display:block;
}

.block{ display:block;}

img {
 border: 0;
 vertical-align: bottom;
}

ul, ol {
 list-style: none;
}

table {
 border-spacing: 0;
 empty-cells: show;
}

.clrfix:after{
content:"";
display:block;
clear:both;
height:1px;
overflow:hidden;
}
/*//////////////////////////////////////////////////////////////*/
body{
	position: relative;
	background:#fff;
	width: 100%;
	margin:0px auto;
}

section.main{
	padding: 10px;
	background: #aaa;
	height: 500px;
}


.menu-body{
	position: absolute;
	bottom: 0px;
	display: none;
	padding: 10px;
	background: #ff0;
-webkit-animation: anime1 3s ease -2s 1 alternate forwards;
}

li{
	background: #eee;
	margin-top: 1px;
}

@-webkit-keyframes anime1 {
0% { height: 0px; background-color: aqua;}
100% { xheight: 300px; background-color: blue;}
}
